<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>DeskApp.icns</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://raw.githubusercontent.com/sieren/DeskAppForWhatsApp/master/AppCast.xml</string>
	<key>CFBundleVersion</key>
	<string>0.1.2</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.sieren.deskapp</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
